.CreateTask-category-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    margin: 8px 0px;
}

.CreateTask-category-list li {
    margin: 0;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.CreateTask-UnselectCategory,
.CreateTask-UnselectCategory button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    outline: none;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}

.dateMode-endDate,
.dateMode-recurrencePicker,
.CreateTask-dateMode-container,
.CreateTask-status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.dateMode-recurrencePicker {
    margin: 10px 0px;
}

.dateMode-toggle,
.status-toggle {
    display: flex;
    gap: .5rem;
}

.dateMode-toggle label,
.status-toggle label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dateMode-toggle input,
.status-toggle input {
    margin-right: 0.5rem;
}

input.addSteps-input {
    font-size: 0.875rem;
    border: none;
    background-color: transparent;
    width: calc(100% - 30px);
    padding: 0;
}

input.addSteps-input:active,
input.addSteps-input:focus,
input.addSteps-input:focus-visible {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

fieldset.addSteps-fieldset {
    padding: 16.5px;
    padding-top: 2px;
    margin: 8px 0px;
    border: 1px solid #bdbdbd;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

button.addSteps-button {
    padding: 0 !important;
    background-color: transparent;
    margin: 0 !important;
    height: max-content;
    line-height: 12px;
    border: none !important;
}

.addSteps-button-wrapper {
    height: max-content;
    width: max-content;
    position: absolute;
    left: calc(100% - 5px);
    bottom: 18px;
}

.createTask-steps-container {
    margin-top: -20px;
}

.dti-container.dm-end fieldset {
    padding: 4px !important;
}

select.ct-cat-select {
    padding: 16.5px;
    width: calc(100% - 1px);
    margin: 8px 0px;
    background-color: #363636;
    border: 1px solid #bdbdbd;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    appearance: none;
}

button.ct-add {
    padding: 0 !important;
    background-color: transparent;
    margin: 0 !important;
    height: max-content;
    line-height: 12px;
    border: none !important;
}

.ct-cat-select-wrapper {
    height: max-content;
    width: max-content;
    position: absolute;
    left: calc(100% - 5px);
    bottom: 14px;
}