.CreateTask-category-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* Gleichmäßiger horizontaler und vertikaler Abstand */
    justify-content: flex-start;
    /* Elemente am Anfang ausrichten */
}

.CreateTask-category-list li {
    margin: 0;
    /* Entferne individuelle Margins */
    padding: 4px 8px;
    /* Innenabstand */
    border-radius: 5px;
    background-color: #f0f0f0;
    /* Beispielhintergrundfarbe */
    display: flex;
    align-items: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.CreateTask-UnselectCategory,
.CreateTask-UnselectCategory button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    outline: none;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}

.CreateTask-dateMode-container,
.CreateTask-status-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0px;
}

.dateMode-recurrencePicker {
    margin: 10px 0px;
}

.dateMode-toggle,
.status-toggle {
    display: flex;
    gap: 1rem;
}

.dateMode-toggle label,
.status-toggle label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dateMode-toggle input,
.status-toggle input {
    margin-right: 0.5rem;
}