.MuiPopover-root {
    z-index: 1300;
}

.MuiPaper-root {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.MuiPaper-elevation {
    margin-top: 8px;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #ffffffde !important;
}