/* Generelles Popup-Overlay  */

.modal-background {
    max-height: 100vh;
    overflow-y: hidden;
}

.Popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    /*z-index: 999;*/
}

.General-popup {
    width: fit-content;
    height: fit-content;
}

.General-popup>p {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* //////// Form-Styling //////// */

.Popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*min-height: calc(100vh); /Sollte ich einen Header hinzufügen, die Pixelzahl von den 100vh abziehen */
}

.Popup-wrapper {
    width: fit-content;
}

.Popup-form-content {
    max-height: calc(85vh - 186px);
    overflow-y: auto;
    position: relative;
}

.Popup-form-content {
    scrollbar-width: none;
}

/*
.Popup-form-content.top-border {
    border-top: 1px solid #bdbdbd;
}

.Popup-form-content.bottom-border {
    border-bottom: 1px solid #bdbdbd;
}
*/

.Popup-display-content,
.Popup-form {
    background-color: #363636;
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

p.Popup-diaplay-title,
p.Popup-form-title {
    margin: 8px 0px;
    margin-bottom: 23px;
    font-size: 200%;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
}


/* --- Komponenten --- */
.Popup-input-container {
    position: relative;
}

.Popup-input-container input {
    outline: none;
    border: 1px solid #bdbdbd;
    margin: 8px 0;
    width: calc(100% - 35px);
    height: fit-content;
    white-space: collapse !important;
    background-color: #363636;
    padding: 16.5px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* Fieldset */

.Popup-fieldset-wrapper {
    position: relative;
}

.Popup-fieldset-legend {
    font-size: 14px;
}

fieldset.Popup-fieldset-container {
    padding: 16.5px;
    padding-top: 4px;
}

.Popup-fieldset-wrapper fieldset {
    border: 1px solid #bdbdbd;
    margin: 8px 0;
    width: calc(100% - 35px);
    height: fit-content;
    background-color: #363636;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.Popup-fieldset-container input {
    border: none;
    outline: none;
    background-color: #363636;
    width: 100%;
    height: fit-content;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    padding: 0;
}

.Popup-form button {
    outline: none;
    border: 1px solid #363636;
    margin: 8px 0;
}

.Popup-input-container textarea {
    outline: none;
    border: 1px solid #bdbdbd;
    margin: 8px 0;
    width: calc(100%) !important;
    background-color: #363636;
    padding: 16.5px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.Popup-del-wrapper,
.Popup-del-container {
    position: relative;
}

.Popup-del-container button {
    position: absolute;
    top: 24px;
    margin: 0;
    right: 8.25px;
    border: none;
    outline: none;
}

.Popup-del-container textarea {
    outline: none;
    width: calc(100%) !important;
    background-color: #363636;
    font-size: 0.875rem;
    border-radius: 0.5rem;
}

.Popup-del-cancel {
    background-color: transparent;
    padding: 0;
}

fieldset.Popup-del-fieldset-container {
    padding: 16.5px;
    padding-top: 8px;
    padding-bottom: 12.5px;
    border: 1px solid #bdbdbd;
    margin: 8px 0;
    width: calc(100% - 35px);
    height: fit-content;
    background-color: #363636;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.Popup-del-fieldset-container textarea {
    border: none;
    outline: none;
    background-color: #363636;
    width: 100%;
    height: fit-content;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    padding: 0;
    padding-right: 20px;
    box-sizing: border-box !important;
}

.Popup-submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #BB86FC;
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.Popup-submit:hover {
    background-color: #9A66DB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.Popup-submit:active {
    background-color: #7E4FB0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}